// colors

$color-1: #111; // black
$color-2: rgba(51,51,255,0.9); // blue
$color-3: #fff; // white

// fonts

$primary-font: 'Source Sans Pro', sans-serif;

//header height

$header-height-S: 50px;
$header-height-M: 80px;

// z-index

$content-zindex: 1;
$nav-zindex: 2;
$header-zindex: 3;
